/* Add CSS Styling */
.odd {
  background-color: rgb(233, 121, 121);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
.cooler {
  font-size: 24px;
}

#second {
  color: #0000ff;
  font-size: 36px;
}

#fourth {
  background-color: hsl(120, 73%, 75%);
  font-size: 24px;
  font-weight: 700;
}

