body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  font-size: 18px;
  width: 480px;
  background: #fff;
  margin: 8px auto 4px;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: inherit;
  padding: 6px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  margin: inherit;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}